@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('fonts/icomoon.woff') format('woff'),
	url('fonts/icomoon.ttf') format('truetype'),
	url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700);

html {
	font-family: 'Lato', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.active {
	/* Clase de la vista activa en results */
}

.visible {
	display: flex;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

i {
	cursor: pointer;
}

header {
	div.first {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em 0;
		background: #fff;

		div.logo {
			h1 {
				font-size: 1em;
				margin-left: 6px;
			}
		}

		form.search {
			border: 1px solid #555;
			display: flex;

			input, select, button {
				border: none;
				outline: none;
				background: none;
				font-family: 'Lato', sans-serif;
				padding: 0.3em 0.3em;
			}

			select {
				background: #d4d4d4;
				margin: 0.2em;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background: #eee;
				}
			}

			button {
				background: #555;
				color: #fff;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background: #7B7B7B;
				}
			}

		}
	}

	nav {
		background: #c7c7c7;

		ul {
			display: flex;
			justify-content: space-between;
			padding: .7em;

			li {
				list-style: none;
				width: 25%;

				a {
					padding: .6em;
					display: block;
					border: 1px solid #555;
					border-left: none;
					text-align: center;
					color: #fff;
					text-decoration: none;
					transition: all .3s;

					&:hover {
						background: #808080;
					}
				}

				&:nth-of-type(1) a {
					border-left: 1px solid #000;
				}
			}
		}
	}
}

section {

	.middle {
		#slider li {
			display: flex;
			justify-content: center;

			img {
				height: 400px;
			}

			& > div {
				display: flex;
				flex-flow: column;
				justify-content: center;
			}
		}

		.bx-wrapper .bx-viewport {
		    -moz-box-shadow: none;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    border: none;
		    left: 0;
		}
	}


	.menu {
		background: #EEEEEE;
		padding: 10px 15%;
		justify-content: space-around;
		display: flex;

		.submenu {

			.item {
				padding: 10px 0;
				display: flex;
				flex-flow: column;

				.category {
					color:#3B3B3B;
					text-decoration: none;
					font-weight: bold;

					&:hover {
						color: #656565;
					}
				}

				.subcategory {
					margin-left: 10px;
					text-decoration: none;
					color: #7A7A7A;

					&:hover {
						color:#3B3B3B;
					}
				}

			} /*item*/
		} /*submenu*/
	}/*menu*/

	&.results {
		display: flex;

		aside.filtros {
			background: #DADADA;
			padding: 2em;
			padding-left: 3%;
			flex-flow: column wrap;
			width: 25%;
			max-width: 300px;

			span {
				display: flex;
				flex-flow:column;
				font-weight: bold;
				font-size: 1.1em;
				margin-top: .5em;
				margin-bottom: .3em;

				label {
					display: block;
					font-weight: normal;
				}

				input {
					margin-right: 5px;
				}
			}

			div {
				margin-bottom: 1.5em;

				p {

					margin-bottom: 10px;
					input {
						width: 60%;
						border: none;
						background-color: #DADADA;
					}
				}
			}
		}//filtros

		div.resultados {
			width: 100%;

			#opciones {
				display: flex;
				justify-content: space-between;
				background-color: #F3F3F3;
				padding: 12px;

				#displayIcon {
					margin: 0 10px;
					cursor:default;
				}
			}



			#anuncios {
				display: flex;
				flex-flow: row wrap;
				margin-left: 20px;

				.itemLarge {
					text-decoration: none;
					color: #000;
					display: flex;
					flex-flow: row;
					background-color: #fff;
					margin: 12px 2.8%;
					box-shadow: 0 0 10px #ccc;
					border-radius: 2px;
					transition: all 0.3s;
					width: 100%;

					&:hover {
						box-shadow: 0 0 10px #7B7B7B;
					}

					.imagen {
						text-align: center;
						padding: 10px 10px 0 10px;
						img {
							width: 150px;
							border-radius: 4px;
						}

						p {
							i {
								cursor: pointer;
								padding: 0.3em;
								color: #bfbfbf;
								transition: all 0.3s;

								&:hover {
									color: #000;
								}
							}
						}
					}//imagen

					div.description {
						padding: 10px;
						display: flex;
						flex-flow: column;
						justify-content: space-between;
						width: 100%;

						p {
							margin: 10px 0px;
						}

						p.precio {
							align-self: flex-end;

							span.prizeTag{
								font-weight: bold;
								padding-right: 0.3em;
							}

						}
					}//Description
				}//large

				.itemShort {
					text-decoration: none;
					color: #000;
					display: flex;
					flex-flow: row;
					background-color: #fff;
					margin: 12px 2%;
					box-shadow: 0 0 10px #ccc;
					border-radius: 4px 4px 2px 2px;
					transition: all 0.3s;

					&:hover {
						box-shadow: 0 0 10px #7B7B7B;
					}

					.imagen {
						text-align: center;
						display: flex;
						flex-flow: column;
						justify-content: space-between;

						img {
							width: 150px;
							border-radius: 4px 4px 0 0;
						}

						p {
							i {
								cursor: pointer;
								padding: 0.3em;
								color: #bfbfbf;
								transition: all 0.3s;

								&:hover {
									color: #000;
								}
							}
						}

						p.precio {
							color:#808080;
							font-size: 0.85em;
							padding: 10px 0;
						}
					}
				}//short
			}//anuncio

			#largePagination {
				display: flex;
				justify-content: center;
				margin: 10px 0px;
			}

			#shortPagination {
				display: none;
				justify-content: center;
				margin: 10px 0px;
			}

			.light-theme a, .light-theme span {
				background: none;
				box-shadow: none;
				text-decoration: none;
			}

			.light-theme .current {
    			background: #666;
			}
		}//div.resultados

	}//section results

	&.item {

		div.advertisement {
			display: flex;
			flex-flow: column;
			margin: 1em auto;

			ul {
				list-style: none;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;

				li {
					a {
						padding: 0 .5em;
						text-decoration: none;
						color: #555;
						transition: all .3s ease-in-out;

						&:hover {
							text-decoration: underline;
						}
					}
					form.bc_search button{
						border: medium none;
						background-color: white;
						color: #555;
						cursor: pointer;
						text-align: left;

						&:hover {
							text-decoration: underline;
						}
					}
				}//li
			}//ul
			div.object {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;

				div.images {
					img {
						max-width: 200px;
						margin: 1em;
						border: 1px solid #aaa;
					}
					div.carrousel {
						display: flex;
						flex-flow: row;
						justify-content: space-around;

						img {
							margin-top: 0;
							width: 50px;
							height: 50px;
						}
					}
				}//images
				div.article {
					flex-basis: 65%;
					margin: 1em 0;

					div.head {
						display: flex;
						flex-flow: row wrap;
						justify-content: space-between;

						h3 {
							flex-basis: 45%;
						}
						p.price {
							flex-basis: 45%;
							text-align: right;
						}
						ul.options {
							margin: .5em 0 1em;
							li {
								a {
									cursor: pointer;

									&:first-child {
										padding-left: 0;
									}
								}
							}
						}
					}//head
					div.body {
						display: flex;
						flex-flow: column;
						justify-content: space-between;

						p.description {

						}
						ul.tags {
							margin: 1em 0;

							li {
								border: 1px solid rgba(150,150,150,.5);
								background-color: rgba(150,150,150,.1);
								margin: .2em;
								transition: all 0.3s ease 0s;

								&:hover {
									box-shadow: 0 0 2px #999999;
								}

								a {
									display: inline-block;
									padding: 0.3em 0.5em;

									&:hover{
										text-decoration: none;
									}
								}


							}
						}
					}//body
				}//article
			}//object
		}//advertisement

		div.contact {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			background-color: #999;
			color: white;

			h3 {
				margin: 1em 0;
			}
			ul.data {
				padding: 1em 2em 1em 4em;
				list-style: none;

				li {
					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;
					align-items: flex-start;
					margin: 1.5em 0;

					i {
						margin: 0 1em;
					}
				}
			}//ul

			div.form {
				padding: 1em 2em;
				border-left: 1px dashed #eee;

				h3 {
					margin: 1em 0;
				}
				form {
					margin: 1em 0;
					display: flex;
					flex-flow: column;
					justify-content: flex-start;
					align-items: flex-start;

					input, textarea, button {
						margin: .3em;
						padding: .2em;
					}
					textarea {
						font-family: 'Lato', sans-serif;
						width: 80%;
						height: 5em;
					}
					button {
						width: 10em;
						background: #ddd;
						border: none;
						cursor: pointer;
					}
					.error {
						color: red;
					}
					label[id*='error'] {
						color: #444;
					    padding: .1em 0;
					    margin-left: 0.5em;
					    font-weight: bold;
					}
				}
			}//form
		}//contact
	}
}

div.error {
	margin: 2em;

	h2 {
		margin: 1em 0;
	}
	p {
		a {
			color: #555;
			text-decoration: none;
			transition: all .3s ease-in-out;

			&:hover {
				color: black;
				text-decoration: underline;
			}
		}
	}
}

footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	padding: 1.5em 0;
	background: #444;
	color: #eee;

	div {
		display: flex;
		flex-flow: column;
		align-items: stretch;

		p {
			padding: .5em 0;
		}
		ul {
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;

			li {
				a {
					padding: .5em 1em;
					display: inline-flex;
					color: #eee;
					cursor: pointer;
					transition: all .3s ease-in-out;

					&:first-of-type {
						padding-left: 0;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		a {
			img {
				width: auto;
				height: 2.5em;
			}
		}
	}
}
