@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700);
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-family: 'Lato', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.active {
  /* Clase de la vista activa en results */ }

.visible {
  display: flex; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

i {
  cursor: pointer; }

header div.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  background: #fff; }
  header div.first div.logo h1 {
    font-size: 1em;
    margin-left: 6px; }
  header div.first form.search {
    border: 1px solid #555;
    display: flex; }
    header div.first form.search input, header div.first form.search select, header div.first form.search button {
      border: none;
      outline: none;
      background: none;
      font-family: 'Lato', sans-serif;
      padding: 0.3em 0.3em; }
    header div.first form.search select {
      background: #d4d4d4;
      margin: 0.2em;
      cursor: pointer;
      transition: all 0.3s; }
      header div.first form.search select:hover {
        background: #eee; }
    header div.first form.search button {
      background: #555;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s; }
      header div.first form.search button:hover {
        background: #7B7B7B; }
header nav {
  background: #c7c7c7; }
  header nav ul {
    display: flex;
    justify-content: space-between;
    padding: .7em; }
    header nav ul li {
      list-style: none;
      width: 25%; }
      header nav ul li a {
        padding: .6em;
        display: block;
        border: 1px solid #555;
        border-left: none;
        text-align: center;
        color: #fff;
        text-decoration: none;
        transition: all .3s; }
        header nav ul li a:hover {
          background: #808080; }
      header nav ul li:nth-of-type(1) a {
        border-left: 1px solid #000; }

section {
  /*menu*/ }
  section .middle #slider li {
    display: flex;
    justify-content: center; }
    section .middle #slider li img {
      height: 400px; }
    section .middle #slider li > div {
      display: flex;
      flex-flow: column;
      justify-content: center; }
  section .middle .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0; }
  section .menu {
    background: #EEEEEE;
    padding: 10px 15%;
    justify-content: space-around;
    display: flex;
    /*submenu*/ }
    section .menu .submenu {
      /*item*/ }
      section .menu .submenu .item {
        padding: 10px 0;
        display: flex;
        flex-flow: column; }
        section .menu .submenu .item .category {
          color: #3B3B3B;
          text-decoration: none;
          font-weight: bold; }
          section .menu .submenu .item .category:hover {
            color: #656565; }
        section .menu .submenu .item .subcategory {
          margin-left: 10px;
          text-decoration: none;
          color: #7A7A7A; }
          section .menu .submenu .item .subcategory:hover {
            color: #3B3B3B; }
  section.results {
    display: flex; }
    section.results aside.filtros {
      background: #DADADA;
      padding: 2em;
      padding-left: 3%;
      flex-flow: column wrap;
      width: 25%;
      max-width: 300px; }
      section.results aside.filtros span {
        display: flex;
        flex-flow: column;
        font-weight: bold;
        font-size: 1.1em;
        margin-top: .5em;
        margin-bottom: .3em; }
        section.results aside.filtros span label {
          display: block;
          font-weight: normal; }
        section.results aside.filtros span input {
          margin-right: 5px; }
      section.results aside.filtros div {
        margin-bottom: 1.5em; }
        section.results aside.filtros div p {
          margin-bottom: 10px; }
          section.results aside.filtros div p input {
            width: 60%;
            border: none;
            background-color: #DADADA; }
    section.results div.resultados {
      width: 100%; }
      section.results div.resultados #opciones {
        display: flex;
        justify-content: space-between;
        background-color: #F3F3F3;
        padding: 12px; }
        section.results div.resultados #opciones #displayIcon {
          margin: 0 10px;
          cursor: default; }
      section.results div.resultados #anuncios {
        display: flex;
        flex-flow: row wrap;
        margin-left: 20px; }
        section.results div.resultados #anuncios .itemLarge {
          text-decoration: none;
          color: #000;
          display: flex;
          flex-flow: row;
          background-color: #fff;
          margin: 12px 2.8%;
          box-shadow: 0 0 10px #ccc;
          border-radius: 2px;
          transition: all 0.3s;
          width: 100%; }
          section.results div.resultados #anuncios .itemLarge:hover {
            box-shadow: 0 0 10px #7B7B7B; }
          section.results div.resultados #anuncios .itemLarge .imagen {
            text-align: center;
            padding: 10px 10px 0 10px; }
            section.results div.resultados #anuncios .itemLarge .imagen img {
              width: 150px;
              border-radius: 4px; }
            section.results div.resultados #anuncios .itemLarge .imagen p i {
              cursor: pointer;
              padding: 0.3em;
              color: #bfbfbf;
              transition: all 0.3s; }
              section.results div.resultados #anuncios .itemLarge .imagen p i:hover {
                color: #000; }
          section.results div.resultados #anuncios .itemLarge div.description {
            padding: 10px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            width: 100%; }
            section.results div.resultados #anuncios .itemLarge div.description p {
              margin: 10px 0px; }
            section.results div.resultados #anuncios .itemLarge div.description p.precio {
              align-self: flex-end; }
              section.results div.resultados #anuncios .itemLarge div.description p.precio span.prizeTag {
                font-weight: bold;
                padding-right: 0.3em; }
        section.results div.resultados #anuncios .itemShort {
          text-decoration: none;
          color: #000;
          display: flex;
          flex-flow: row;
          background-color: #fff;
          margin: 12px 2%;
          box-shadow: 0 0 10px #ccc;
          border-radius: 4px 4px 2px 2px;
          transition: all 0.3s; }
          section.results div.resultados #anuncios .itemShort:hover {
            box-shadow: 0 0 10px #7B7B7B; }
          section.results div.resultados #anuncios .itemShort .imagen {
            text-align: center;
            display: flex;
            flex-flow: column;
            justify-content: space-between; }
            section.results div.resultados #anuncios .itemShort .imagen img {
              width: 150px;
              border-radius: 4px 4px 0 0; }
            section.results div.resultados #anuncios .itemShort .imagen p i {
              cursor: pointer;
              padding: 0.3em;
              color: #bfbfbf;
              transition: all 0.3s; }
              section.results div.resultados #anuncios .itemShort .imagen p i:hover {
                color: #000; }
            section.results div.resultados #anuncios .itemShort .imagen p.precio {
              color: #808080;
              font-size: 0.85em;
              padding: 10px 0; }
      section.results div.resultados #largePagination {
        display: flex;
        justify-content: center;
        margin: 10px 0px; }
      section.results div.resultados #shortPagination {
        display: none;
        justify-content: center;
        margin: 10px 0px; }
      section.results div.resultados .light-theme a, section.results div.resultados .light-theme span {
        background: none;
        box-shadow: none;
        text-decoration: none; }
      section.results div.resultados .light-theme .current {
        background: #666; }
  section.item div.advertisement {
    display: flex;
    flex-flow: column;
    margin: 1em auto; }
    section.item div.advertisement ul {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; }
      section.item div.advertisement ul li a {
        padding: 0 .5em;
        text-decoration: none;
        color: #555;
        transition: all .3s ease-in-out; }
        section.item div.advertisement ul li a:hover {
          text-decoration: underline; }
      section.item div.advertisement ul li form.bc_search button {
        border: medium none;
        background-color: white;
        color: #555;
        cursor: pointer;
        text-align: left; }
        section.item div.advertisement ul li form.bc_search button:hover {
          text-decoration: underline; }
    section.item div.advertisement div.object {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      section.item div.advertisement div.object div.images img {
        max-width: 200px;
        margin: 1em;
        border: 1px solid #aaa; }
      section.item div.advertisement div.object div.images div.carrousel {
        display: flex;
        flex-flow: row;
        justify-content: space-around; }
        section.item div.advertisement div.object div.images div.carrousel img {
          margin-top: 0;
          width: 50px;
          height: 50px; }
      section.item div.advertisement div.object div.article {
        flex-basis: 65%;
        margin: 1em 0; }
        section.item div.advertisement div.object div.article div.head {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between; }
          section.item div.advertisement div.object div.article div.head h3 {
            flex-basis: 45%; }
          section.item div.advertisement div.object div.article div.head p.price {
            flex-basis: 45%;
            text-align: right; }
          section.item div.advertisement div.object div.article div.head ul.options {
            margin: .5em 0 1em; }
            section.item div.advertisement div.object div.article div.head ul.options li a {
              cursor: pointer; }
              section.item div.advertisement div.object div.article div.head ul.options li a:first-child {
                padding-left: 0; }
        section.item div.advertisement div.object div.article div.body {
          display: flex;
          flex-flow: column;
          justify-content: space-between; }
          section.item div.advertisement div.object div.article div.body ul.tags {
            margin: 1em 0; }
            section.item div.advertisement div.object div.article div.body ul.tags li {
              border: 1px solid rgba(150, 150, 150, 0.5);
              background-color: rgba(150, 150, 150, 0.1);
              margin: .2em;
              transition: all 0.3s ease 0s; }
              section.item div.advertisement div.object div.article div.body ul.tags li:hover {
                box-shadow: 0 0 2px #999999; }
              section.item div.advertisement div.object div.article div.body ul.tags li a {
                display: inline-block;
                padding: 0.3em 0.5em; }
                section.item div.advertisement div.object div.article div.body ul.tags li a:hover {
                  text-decoration: none; }
  section.item div.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #999;
    color: white; }
    section.item div.contact h3 {
      margin: 1em 0; }
    section.item div.contact ul.data {
      padding: 1em 2em 1em 4em;
      list-style: none; }
      section.item div.contact ul.data li {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1.5em 0; }
        section.item div.contact ul.data li i {
          margin: 0 1em; }
    section.item div.contact div.form {
      padding: 1em 2em;
      border-left: 1px dashed #eee; }
      section.item div.contact div.form h3 {
        margin: 1em 0; }
      section.item div.contact div.form form {
        margin: 1em 0;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start; }
        section.item div.contact div.form form input, section.item div.contact div.form form textarea, section.item div.contact div.form form button {
          margin: .3em;
          padding: .2em; }
        section.item div.contact div.form form textarea {
          font-family: 'Lato', sans-serif;
          width: 80%;
          height: 5em; }
        section.item div.contact div.form form button {
          width: 10em;
          background: #ddd;
          border: none;
          cursor: pointer; }
        section.item div.contact div.form form .error {
          color: red; }
        section.item div.contact div.form form label[id*='error'] {
          color: #444;
          padding: .1em 0;
          margin-left: 0.5em;
          font-weight: bold; }

div.error {
  margin: 2em; }
  div.error h2 {
    margin: 1em 0; }
  div.error p a {
    color: #555;
    text-decoration: none;
    transition: all .3s ease-in-out; }
    div.error p a:hover {
      color: black;
      text-decoration: underline; }

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 1.5em 0;
  background: #444;
  color: #eee; }
  footer div {
    display: flex;
    flex-flow: column;
    align-items: stretch; }
    footer div p {
      padding: .5em 0; }
    footer div ul {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      footer div ul li a {
        padding: .5em 1em;
        display: inline-flex;
        color: #eee;
        cursor: pointer;
        transition: all .3s ease-in-out; }
        footer div ul li a:first-of-type {
          padding-left: 0; }
        footer div ul li a:hover {
          text-decoration: underline; }
    footer div a img {
      width: auto;
      height: 2.5em; }

/*# sourceMappingURL=main.css.map */
